<div class="position-relative">
  <label class="form__label">{{label}}</label>
  <input class="form__input" [type]="type" [formControl]="control" placeholder="{{label}}"
          [ngClass]="{'invalid': control.invalid && control.touched}"
         autoFocus [autofocus]="autofocus"/>
    <img class="cursor-pointer position-absolute" (click)="togglePasswordVisibility()" ngSrc="assets/icons/{{icon()}}.png" [width]="20" [height]="20" alt="password-show">

  <app-control-error-message data-test="password-error" [control]="control" [label]="label" [customErrorMessages]="customErrorMessages"></app-control-error-message>
  <span class="password-alert">Must be min. 8 characters, lower and upper case letter, and shouldn`t includes your name</span>
</div>
