@use 'assets/scss/variables';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html > * {
  box-sizing: border-box;
  font-size: 1.2rem;
}

body {
  position: relative;
}

input {
  display: block;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-75 {
  width: 75%;
}


.w-50 {
  width: 50%;
}

// flex

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.message-error {
  color: #dc2626;
  padding-bottom: 0.2rem;
  font-size: .7rem;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

// ------

.cursor-pointer {
  cursor: pointer !important;
}

.position-relative {
   position: relative;
 }

.position-absolute {
  position: absolute;
}


// form

.form__input {
  height: var(--input-height);
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
  width: 100%;
  margin: 0.625rem auto;
  transition: all 250ms;

  &::placeholder {
    display: none;
    color: transparent;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  &:not(:placeholder-shown) {
    border-top-color: rgba(0, 0, 0, 0.5);
  }

  &:focus{
    outline: none;
  }
}

.form__label {
  font-size: 1rem;
  display: block;
  font-weight: 700;
  pointer-events: none;
}

.invalid {
  border: 1px solid #CC0C39;
  box-shadow: 0 0 3px #f23a3c;
  &:focus {
    box-shadow: 0 0 0 1px #cc0c39 inset, 0 0 0 3px #ffe3e3;
    background-color: #fff;
  }
}

[class*="form-col"] {
  flex: 0 1 100%;
}

@media (max-width: 575px) {
  [class*="form-col"] {
    flex: 0 1 100%;
  }

  .flex-row {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .form-col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .form-col-5 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .form-col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .form-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
